/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

@import "variables.scss";

@import '~@tol/tol-ui/src/scss/tol-styling.scss';

.enum-box {
  padding: 5px 10px;
  border: 1px solid var(--grey-subtle);
  border-radius: 25px;
  display: inline-block;
}

.feedback-btn {
  float: right !important;
}

// feedback button on smaller devices
@media (max-width: 576px) {
  .feedback-btn {
    margin-top: 12px;
    float: left !important;
  }
}

// tol-ui missing temp css
.tol-text-filter .rs-input-group.rs-input-group-inside .rs-input {
  padding-right: 12px;
}

// org nodes
.org-node {
  padding: 5px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid black;
}

.org-node-selected {
  border: 1px solid red;
  border-radius: 15px;
}

.org-node-under {
  border: 1px solid green;
}

.org-node-default-root {
  border: 1px solid blue;
}

.org-tree-active {
  max-width: fit-content;
  margin: 0px auto;
  text-align: center;
}

.org-tree-active-table {
  border: 2px solid black;
  width: 400px;
  margin: 0px auto;
}

.org-tree-active-table-header {
  border: 2px solid black;
}
