/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

@import "variables.scss";
@import "@tol/tol-ui/scss/tol-styling.scss";

.enum-box {
  padding: 5px 10px;
  border: 1px solid var(--grey-subtle);
  border-radius: 25px;
  display: inline-block;
}

.feedback-btn {
  float: right !important;
}

// feedback button on smaller devices
@media (max-width: 576px) {
  .feedback-btn {
    margin-top: 12px;
    float: left !important;
  }
}

// tol-ui missing temp css
.tol-text-filter .rs-input-group.rs-input-group-inside .rs-input {
  padding-right: 12px;
}
